.navbar{
    margin: 0;
    padding: 5px;
    display: flex;
}

.navbar ul{
    padding: 0;
    list-style: none;
    text-align: left;
}

.navbar li{
    display: inline-block;
    text-align: left;
    padding: 10px;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
}

.navbar a:hover{
    text-decoration: underline;
    color: dodgerblue;
}

.navbar img{
    width: 40px;
    position: absolute;
    right: 10px;
}