.show-banner{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 450px;
    background-image: url("/assets/img/office-4.jfif");
    background-position: center;
    background-size: cover;
    opacity: 1.8;
    color: black;
}

.show-banner h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40pt;
    text-align: center;
    width: 500px;
    margin: 20px;
}

.show-banner p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
    text-align: center;
    width: 500px;
    margin: 15px;
}